.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{margin:0;padding:0;}
.app{
  padding:20px;
}
.todo-list{
  width: 400px;margin:20px 0;border:1px solid #ddd;padding:30px;
  background:#eee;
  ul,li{list-style: none;}
  ul{
    margin:10px 0px;
    li{
      line-height: 35px;border-bottom: 1px solid #ddd;
      input{margin-right: 10px;}
      .finished{
        text-decoration:line-through;
        color:#999;
      }
      .delete{
        float: right;color:red;
        cursor: pointer;
      }
    }
  }
  
  
  .input{
      width:200px;
      padding:0px 10px;
      height:30px;line-height: 30px;
  }
}
